{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "1.0.1"}}},
    {jiffy, "0.14.7", {git, "https://github.com/davisp/jiffy", {branch, "feature-add-rebar3-support"}}}
]}.  

{escript_name, ferl}.
{erl_opts, [debug_info]}.

{relx, [{release, {dev_release, "0.0.1"},
        [ferl]},

       {dev_mode, true},
       {include_erts, false},

       {extended_start_script, true}
]}.

% https://github.com/davisp/jiffy/issues/96
% J/K doesn't work
{overrides,
 [{override, jiffy, [
     {plugins, [pc]},
     {artifacts, ["priv/jiffy.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
